body{
    margin: 0;
    background-color: #f9f9ff;
}
a{
    text-decoration: none;
    color: white;
}
.poppings{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.branco{
    color: white;
    fill: white;
}
.amarelo{
    color: #fcdc00;
    fill: #fcdc00;
}
.flex-center{
    display: flex;
    justify-content: center;
}
#banner{
    background-image: url(home-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 95vb;
    display: flex;
    margin-bottom: 5%;
}
header{
    background-color: rgba(0,0,0, 50%);
    width: 100vw;
    height: 10vb;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
header img{
    width: auto;
    height: 3vb;
}
#organizer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav{
    width: 40%;
    height: 4vb;
}
ul{
    width: 100%;
    margin: 0;
    margin-top:1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}
#search{
    height: 1vb;
    margin-top: 0.5%;
}
#banner > div{
    position: absolute;
    width: 30%;
    background-color: black;
    height: 25vb;
    justify-self: center;
    align-self: center;
    left: 35%;
    
}
#banner > div h1{
    margin-top: 7%;
    font-weight: 5;
    text-align: center;
}
#banner > div p{
    text-align: center;
    margin: 0 5%;
}
#banner > div a{
    position: relative;
    top: 30%;
    left: 33%;
    background-color: #fcdc00;
    color: black;
    padding: 2% 5%;
    font-size: 0.8rem;
}
#bar-organizer{
    width: 100vw;
    display: flex;
    justify-content: center;

}
#searchBar{
    width: 60vw;
    height: 6vb;
    border:rgba(128, 128, 128, 25%) solid 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
#searchBar div{
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 5;
    font-size: 0.8rem;
    border-right: rgba(128, 128, 128, 25%) solid 1px;
}
#search-btn-all{
    border-left: rgba(128, 128, 128, 25%) solid 1px;
    width: 6%;
    transition: all 0.5s;
}
#search-btn{
    width: 9%;
    transition: all 1s;
}
.radio-search{
    position: absolute;
    width: 9%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
}
.radio-search:first-of-type{
    left: 33.5%;
    width: 6%;
}
.radio-search:nth-of-type(2){
    left: 39.5%;
}
.radio-search:nth-of-type(3){
    left: 48.5%;
}
.radio-search:nth-of-type(4){
    left: 57.5%;
}
.radio-search:first-of-type:checked ~ #search-btn-all{
    background-color: #fcdc00;
}
.radio-search:nth-of-type(2):checked ~ #search-btn:nth-of-type(2){
    background-color: #fcdc00;
}
.radio-search:nth-of-type(3):checked ~ #search-btn:nth-of-type(3){
    background-color: #fcdc00;
}
.radio-search:nth-of-type(4):checked ~ #search-btn:nth-of-type(4){
    background-color: #fcdc00;
}
.radio-search:first-of-type:hover ~ #search-btn-all{
    background-color: #fcdc00;
}
.radio-search:nth-of-type(2):hover ~ #search-btn:nth-of-type(2){
    background-color: #fcdc00;
}
.radio-search:nth-of-type(3):hover ~ #search-btn:nth-of-type(3){
    background-color: #fcdc00;
}
.radio-search:nth-of-type(4):hover ~ #search-btn:nth-of-type(4){
    background-color: #fcdc00;
}

#fotos{
    width: 85vw;
    position: absolute;
    display: flex;
    margin-top: 8%;
    flex-wrap: wrap;
    transition: all 1s;
}
#fotos img{
    height: 45vb;
    margin: 11px;
    transition: all 1s;
    display: none;
    transition: all 0.3s;
}

.radio-search:first-of-type:checked ~ #fotos img{
    display: block;
}
.radio-search:nth-of-type(2):checked ~ #fotos .aprov{
    display: block;
}
.radio-search:nth-of-type(3):checked ~ #fotos .unaprov{
    display: block;
}
.radio-search:nth-of-type(4):checked ~ #fotos .unviw{
    display: block;
}

#fotos div{
    position: relative;
    text-align: center;
    margin: 0;
    border: none;
}
#fotos i{
    position: absolute;
    top: 80%;
    font-size: 1.9rem;
    left: 45%;
    color: white;
    opacity: 0;
    transition: all 0.3s;
}
#fotos h1{
    position: absolute;
    color: white;
    top: 50%;
    left: 15%;
    font-weight: bold;
    transition: all 0.3s;
}
#fotos div:hover img{
    filter: brightness(50%);
}
#fotos div:hover h1{
    transform: translateY(-55%);
}
#fotos div:hover i{
    transform: translateY(-250%);
    opacity: 1;
}
#load-div{
    margin-top: 75%;
}
#load-div article{
    width: 11%;
    position: relative;
    height: 5vb;
    text-align: center;
    display: block;
    background-color: #fcdc00;
}
#btn-load{
    position: absolute;
    color: #000000;
    font-size: 1rem;
    display: block;
    left: 15%;
    top: 32%;
}
#sec-feed{
    margin-top: 7%;
    background-color: #fcdc00;
    width: 100vw;
    height: 50vb;
}
#sec-feed div{
    padding: 5% 10%;
    width: 40%;
    font-size: 1.5rem;
    display: inline-block;
}
#sec-feed div h1{
    font-weight: 900;
    font-size: 3rem;
}
#spc{
    height: 150vb;
    width: 100%;
    display: block;
    z-index: -2;
}